<div class="container">
    <div class="row">     
      <header  class="wk-navbar">
        <a class="wk-brand-light right"></a>
        <div class="wk-navbar-container center">
          <a href="/home" class="white-text left left-align active" style="margin-top: 15px;">Home</a>
          <a href="/aspect-reports" class="white-text left left-align" style="margin-top: 15px;margin-left: 20px;">Aspect Reports</a>
          <a href="/maturity-model" class="white-text left left-align" style="margin-top: 15px;margin-left: 20px;">Maturity Model</a>

          <a (click)="logout()" class="white-text right active" style="margin-top: 15px;margin-right: 15px;">LogOut!</a>
        </div>
    
      </header>
    </div>    
  </div>